@import url("https://fonts.googleapis.com/css2?family=Scope+One&display=swap");


.container {
  height: 5vh;
  border-top: 1px solid white;
  color: white;
  text-align: center;
  font-family: "Scope One", serif;

}
