<div class="container">
  <form (ngSubmit)="removePurchase()" [formGroup]="purchaseCouponFormProfile">
    <h2>Your Coupons</h2>
    <p class="message" *ngIf="serverMessage">{{ serverMessage }}</p>
    <select
      (change)="setCoupon($event.target.value)"
      formControlName="couponTitle"
      class="option"
    >
      <option>Choose Coupon</option>
      <option *ngFor="let coupon of allCoupons">
        {{ coupon.title }}
      </option>
    </select>
    <br />
    <button
      [disabled]="
        this.controls.couponTitle.hasError('pattern') ||
        this.controls.couponTitle.pristine
      "
      type="submit"
    >
      Remove
    </button>
  </form>
</div>
