<div class="container">

  <div class="buttons">
    <ul>
      <li><a [routerLink]="['add']">Add</a></li>
      <li><a [routerLink]="['update']">Update</a></li>
      <li><a [routerLink]="['delete']">Delete</a></li>
    </ul>
  </div>

  <router-outlet></router-outlet>
  <div class="search">
    <input #searchInput type="number" placeholder="Search by ID">
    <button (click)="searchCategory(searchInput)" >Submit</button>
  </div>
  <p class="errors" *ngIf="serverMessage">{{ serverMessage }}</p>
  <div class="search-result">
    <div class="category" *ngIf="searchedCategory"  >
      <span style="font-weight: 800;">Category: </span> <span>{{searchedCategory.category}}</span><br/>
      <button (click)="clear()" >Clear</button>
    </div>
    <div class="categories" *ngIf="allCategories" >
      <div class="category" *ngFor="let category of allCategories" >
        <span style="font-weight: 800;">Category: </span> <span>{{category.category}}</span><br/>
      </div>
    </div>
  </div>
