<div class="container">
  <div class="grid">
    <div
      class="element"
      *ngFor="let coupon of displayedCoupons"
      (click)="featureCoupon(coupon)"
    >
      <p>{{ coupon.title }}</p>
      <div class="image" style="background-image: url( {{ coupon.image }} )">
        <p>Expiry: {{ coupon.endDate | date }}</p>
        <p>Available: {{ coupon.amount }}</p>
        <p>Price: {{ coupon.price }}</p>
      </div>
    </div>
  </div>
  <div class="featured" *ngIf="featuredCoupon">
    <p *ngIf="message" class="errors">{{ message }}</p>
    <button class="back-button" (click)="backToDisplay()">Close</button>
    <img src="{{ featuredCoupon.image }}" alt="coupon image" />
    <div class="info">
      <span class="highlighted"
        >Title
        <p>{{ featuredCoupon.title }}</p>
      </span>
      <span class="highlighted"
        >Description
        <p>{{ featuredCoupon.description }}</p>
      </span>
      <span class="highlighted"
        >Start Date
        <p>{{ featuredCoupon.startDate }}</p>
      </span>
      <span class="highlighted"
        >End Date
        <p>{{ featuredCoupon.endDate }}</p>
      </span>
      <span class="highlighted"
        >Amount
        <p>{{ featuredCoupon.amount }}</p>
      </span>
      <span class="highlighted"
        >Price
        <p>{{ featuredCoupon.price }}</p>
      </span>
    </div>
    <button class="purchase-button" (click)="purchaseCoupon()">
      Purchase Coupon
    </button>
  </div>
</div>
