<div class="container">
  <div class="buttons">
    <ul>
      <li><a [routerLink]="['/company']">View</a></li>
      <li><a [routerLink]="['add']">Add</a></li>
      <li><a [routerLink]="['update']">Update</a></li>
      <li><a [routerLink]="['delete']">Delete</a></li>
    </ul>
  </div>
  <router-outlet></router-outlet>
  <p class="errors" *ngIf="userMessage">{{ userMessage }}</p>
  <ul class="filters">
    <select class="option" (change)="filterByCategory($event.target.value)">
      <option>Choose Category</option>
      <option *ngFor="let category of allCategories">
        {{ category.category }}
      </option>
    </select>
    <li>
      <input
        #price
        class="option"
        style="border: none; border-bottom: 2px solid #a1a1a1"
        type="number"
        placeholder="Enter max price"
      />
      <button (click)="filterByPrice(price)">filter</button>
      <button (click)="removeFilter()">remove filter</button>
    </li>
  </ul>
  <div class="coupons" *ngIf="allCoupons">
    <div class="coupon" *ngFor="let coupon of allCoupons">
      <span style="font-weight: 800">Title: </span>
      <span>{{ coupon.title }}</span
      ><br />
      <span style="font-weight: 800">Description: </span>
      <span>{{ coupon.description }}</span
      ><br />
      <span style="font-weight: 800">Category: </span>
      <span>{{ coupon.categoryName }}</span
      ><br />
      <span style="font-weight: 800">Start-Date: </span>
      <span>{{ coupon.startDate }}</span
      ><br />
      <span style="font-weight: 800">End-Date: </span>
      <span>{{ coupon.endDate }}</span
      ><br />
      <span style="font-weight: 800">Amount: </span>
      <span>{{ coupon.amount }}</span
      ><br />
      <span style="font-weight: 800">Price: </span>
      <span>{{ coupon.price }}</span
      ><br />
      <span style="font-weight: 800">Image: </span>
      <span>{{ coupon.image }}</span
      ><br />
    </div>
  </div>
</div>
