<div class="container">
  <div class="buttons">
    <ul>
      <li><a [routerLink]="['add']">Add</a></li>
      <li><a [routerLink]="['update']">Update</a></li>
      <li><a [routerLink]="['delete']">Delete</a></li>
    </ul>
  </div>

  <router-outlet></router-outlet>
  <div class="search">
    <p class="errors" *ngIf="serverMessage">{{ serverMessage }}</p>
    <input #searchInput type="number" placeholder="Search by ID" />
    <button (click)="searchCompany(searchInput)">Submit</button>
  </div>
  <div class="search-result">
    <div class="company" *ngIf="searchedCompany">
      <span style="font-weight: 800">Name: </span>
      <span>{{ searchedCompany.name }}</span
      ><br />
      <span style="font-weight: 800">Email: </span>
      <span>{{ searchedCompany.email }}</span
      ><br />
      <span style="font-weight: 800">Coupons: </span>
      <span>{{ searchedCompany.coupons.length }}</span
      ><br />
      <button (click)="clear()">Clear</button>
    </div>
    <div class="companies" *ngIf="allCompanies">
      <div class="company" *ngFor="let company of allCompanies">
        <span style="font-weight: 800">Name: </span>
        <span>{{ company.name }}</span
        ><br />
        <span style="font-weight: 800">Email: </span>
        <span>{{ company.email }}</span
        ><br />
        <span style="font-weight: 800">Coupons: </span>
        <span>{{ company.coupons.length }}</span
        ><br />
      </div>
    </div>
  </div>
</div>
