@import url("https://fonts.googleapis.com/css2?family=Scope+One&display=swap");

.container {
  background: transparent;
  border-bottom: 1px solid white;
  padding: 1%;
  ul {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    h1 {
      cursor: pointer;
      margin: 0 2%;
      padding: 1%;
      font-weight: 1;
      font-family: "Scope One", serif;
      // font-size: 2vw;
      color: white;
    }

    li {
      padding: 0.1%;
      margin: 0 2%;
      cursor: pointer;
      transition: 0.25s all ease-in-out;
      &:hover {
        border-radius: 5px;
        a {
          color: rgb(199, 199, 199);
        }
      }

      a {
        font-family: "Scope One", serif;
        font-weight: 100;
        // font-size: 1.2vw;
        color: #dbdbdb;
        transition: 0.25s all ease-in-out;
      }
    }
  }
}

.bye {
  color: red;
  font-style: italic;
  border: none;
}

.option {
  padding: 0.1%;
  border-bottom: 1px solid white;
  background: transparent;
}


.menu {
  display: none;

}

@media screen and (max-width: 580px) {

  .container {
    ul {
      display: none;
    }

    .menu {
      // font-size: 2vw;
      display: flex;
      justify-content: space-between;
      width: 100%;
      h1 {
        display: inline;
        cursor: pointer;
        margin: 0 2%;
        padding: 1%;
        font-weight: 1;
        font-family: "Scope One", serif;
        font-size: 5vw;
        color: white;
      }

      button {
      }

      &:hover {
        ul {
          display: block;
        }
      }
      &:focus {
        ul {
          display: block;
        }
      }
    }

    ul {
      li {
        a {
          font-size: 5vw;
        }

      }
      select {
        font-size: 3vw;
      }
    }
  }
}
